@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,700&family=Nunito:wght@700&family=Roboto:wght@100&display=swap");

/* *,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 400; 
} */

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400; 
  background-color: #240b36;
  background-repeat: no-repeat;
  margin: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
p {
  margin: 0;
}

.h-row {
  display: flex;
}

.h-container {
  max-width: 90%;
  margin: 0 auto;
}

header {
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 1.5em 0;
}

.logo {
  align-items: center;
}

.logo img {
  /* max-width: 35px; */
  width: 60px;
  height: 6z0px;
}

.logo h1 {
  text-decoration: none;
  font-weight: 700;
  font-size: 35px;
}

nav ul {
  gap: 2em;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

nav a::after {
  display: block;
  content: "";
  width: 0;
  height: 3px;
  margin: 0 auto;
  background-color: #ebebeb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

nav li:nth-of-type(5) a::after {
  all: unset;
}

nav a:hover::after {
  width: 30px;
}

nav li:nth-of-type(5) a {
  padding: 0.5em 1em;
  background: linear-gradient(90deg, #c31432, #240b36);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

nav li:nth-of-type(5) a:hover,
.hero a:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
/* end nav */

/* media */
@media screen and (max-widht: 900px) {
  .toggleMenu {
    position: absolute;
    right: 5%;
    background-image: url(/img/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    padding: 2em;
    z-index: 100;
    transition: background-size 0.3s ease-in-out;
    -webkit-transition: background-size 0.3s ease-in-out;
    -moz-transition: background-size 0.3s ease-in-out;
    -ms-transition: background-size 0.3s ease-in-out;
    -o-transition: background-size 0.3s ease-in-out;
  }

  .toggleMenu.active {
    position: fixed;
    background-image: url(img/hero.png);
    background-size: 25px;
  }

  .nav-navigation {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 0;
    opacity: 0;
    transform-origin: top;
    transform: scale(1, 0);
    -webkit-transition: scale(1, 0);
    -moz-transition: scale(1, 0);
    -ms-transition: scale(1, 0);
    -o-transition: scale(1, 0);
  }

  .nav-navigation.active {
    position: fixed;
    inset: 0;
    margin: auto;
    max-height: 100%;
    opacity: 1;
    background-color: rgba(63, 0, 156, 1);
    transform: scale(1, 1);
    -webkit-transition: scale(1, 1);
    -moz-transition: scale(1, 1);
    -ms-transition: scale(1, 1);
    -o-transition: scale(1, 1);
  }

  nav ul {
    flex-direction: column;
  }
}
/* end media */

/* hero */
button a {
  text-decoration: none;
  color: #fff;
}
/*  */